## üì§Extra√ß√£o de Dados Vendas Celulares - Camada PRATAü•à
- Carregar a base de dados em um DataFrame
- Realizar os tratamentos, normaliza√ß√µes e convers√£o de dados
- Salvar o DataFrame tratado na Camada PRATA (Silver)

### üìöIMPORTs Bibliotecas

In [49]:
import pandas as pd
import re
from decouple import Config, RepositoryEnv
import os
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.types import StringType
from datetime import datetime
from pyspark.sql import DataFrame
from sqlalchemy import create_engine

### ‚öôÔ∏èCarregando Variaveis de Ambiente

In [50]:
# Config
env_path = ".env"
config = Config(repository=RepositoryEnv(env_path))

senha_banco_de_dados = config('DATA_BASE_PASSWORD')
caminho_excel = config('CAMINHO_EXCEL')
caminho_env = config('CAMINHO_ENV')
#print(senha)

### üìëCarregando [ EXCEL ]

In [51]:
# Caminho completo para o arquivo
caminho_arquivo = caminho_excel

# Carrega o arquivo Excel em um DataFrame
df_excel = pd.read_excel(caminho_arquivo)

# Mostra o DF
display(df_excel)

                  Nome      Valor  Quantidade Vendida Data da Venda
0      sony xperia 1vi    7129.96                  17    25-04-2025
1        IPHONE 15 PRO  R$3691.36                  30    24-07-2025
2       Huawei p60 pro    8686.77                  36    2025-04-07
3     motorola EDGE 50    7357,13                   7    2024-12-07
4     Sony Xperia 1 VI    4354.51                  12    19-01-2025
..                 ...        ...                 ...           ...
95      HUAWEI P60 PRO    4602,83                  35    2025-08-21
96           Xiaomi 14    5552,41                   4    04/02/2025
97    Motorola Edge 50    3137.08                  19    2025-03-03
98    Asus rog phone 8    8831,56                   8    02-08-2025
99  Google pixel 8 pro    5107,77                   6    23/05/2025

[100 rows x 4 columns]

### üõ†Ô∏èNormalizando coluna de `Valor` --> PANDAS

In [52]:
#---> Convertando dados com PANDAS

# Fun√ß√£o para normalizar os valores
def normalizar_valor(valor):
    if pd.isna(valor):
        return None
    
    # Converte para string
    valor_str = str(valor)
    
    # Remove s√≠mbolo de moeda e espa√ßos
    valor_str = re.sub(r'[^\d,.-]', '', valor_str)
    
    # Substitui v√≠rgula por ponto, se for o caso
    if ',' in valor_str and '.' not in valor_str:
        valor_str = valor_str.replace(',', '.')
    elif ',' in valor_str and '.' in valor_str:
        # Caso raro tipo 1.234,56 ‚Üí 1234.56
        valor_str = valor_str.replace('.', '').replace(',', '.')
    
    try:
        # Converte para FLOAT
        return float(valor_str)
    except ValueError:
        return None

# Aplica ao DataFrame
df_excel['valor_normalizado'] = df_excel['Valor'].apply(normalizar_valor)

# df final => EXCEL
display(df_excel)

,Nome,Valor,Quantidade Vendida,Data da Venda,valor_normalizado
0,sony xperia 1vi,7129.96,17,25-04-2025,7129.96
1,IPHONE 15 PRO,R$3691.36,30,24-07-2025,3691.36
2,Huawei p60 pro,8686.77,36,2025-04-07,8686.77
3,motorola EDGE 50,"7357,13",7,2024-12-07,7357.13
4,Sony Xperia 1 VI,4354.51,12,19-01-2025,4354.51
...,...,...,...,...,...
95,HUAWEI P60 PRO,"4602,83",35,2025-08-21,4602.83
96,Xiaomi 14,"5552,41",4,04/02/2025,5552.41
97,Motorola Edge 50,3137.08,19,2025-03-03,3137.08
98,Asus rog phone 8,"8831,56",8,02-08-2025,8831.56
99,Google pixel 8 pro,"5107,77",6,23/05/2025,5107.77

### üîÉConvertendo DF de PANDAS para Spark

In [53]:
# üîß For√ßa o Spark a usar o Python do ambiente virtual
os.environ["PYSPARK_PYTHON"] = caminho_env
os.environ["PYSPARK_DRIVER_PYTHON"] = caminho_env
os.environ["SPARK_LOCAL_IP"] = "127.0.0.1"

# üî• Cria a sess√£o Spark
spark = (
    SparkSession.builder
    .appName("ExcelToSpark")
    .config("spark.sql.legacy.timeParserPolicy", "LEGACY")
    .getOrCreate()
)

df_spark = spark.createDataFrame(df_excel)
df_spark.show(10, truncate=False)

e:\KEVIN\Estudos T.I\Engenheiro de Dados\.venv_dados\Lib\site-packages\pyspark\sql\pandas\conversion.py:425: UserWarning: createDataFrame attempted Arrow optimization because 'spark.sql.execution.arrow.pyspark.enabled' is set to true; however, failed by the reason below:
  [PACKAGE_NOT_INSTALLED] PyArrow >= 11.0.0 must be installed; however, it was not found.
Attempting non-optimization as 'spark.sql.execution.arrow.pyspark.fallback.enabled' is set to true.
  warn(msg)

+------------------------+---------+------------------+-------------+-----------------+
|Nome                    |Valor    |Quantidade Vendida|Data da Venda|valor_normalizado|
+------------------------+---------+------------------+-------------+-----------------+
|sony xperia 1vi         |7129.96  |17                |25-04-2025   |7129.96          |
|IPHONE 15 PRO           |R$3691.36|30                |24-07-2025   |3691.36          |
|Huawei p60 pro          |8686.77  |36                |2025-04-07   |8686.77          |
|motorola EDGE 50        |7357,13  |7                 |2024-12-07   |7357.13          |
|Sony Xperia 1 VI        |4354.51  |12                |19-01-2025   |4354.51          |
|Sony Xperia 1 VI        |5395,19  |46                |2025-08-13   |5395.19          |
|Oneplus 12              |R$7256.5 |4                 |10/04/2025   |7256.5           |
|Google pixel 8 pro      |5827.36  |41                |20/06/2025   |5827.36          |
|Samsung Galaxy S24 Ultra|2701,62  |10                |26/04/2025   |2701.62          |
|Huawei p60 pro          |3331,54  |50                |14/03/2025   |3331.54          |
+------------------------+---------+------------------+-------------+-----------------+
only showing top 10 rows

### üîÉConvertendo Coluna de `Data da Venda`

In [54]:


# fun√ß√£o Python para converter padr√£o de data
def normalizar_data(valor):
    if not valor:
        return None
    valor = str(valor).strip().replace("/", "-")

    formatos = ["%d-%m-%Y", "%Y-%m-%d", "%m-%d-%Y"]
    for f in formatos:
        try:
            return datetime.strptime(valor, f).strftime("%Y-%m-%d")
        except ValueError:
            continue
    return None  # se nenhum formato bater

# registra a UDF
normalizar_data_udf = F.udf(normalizar_data, StringType())

# aplica no DataFrame Spark
df_spark = df_spark.withColumn(
    "data_venda_normalizada",
    normalizar_data_udf(F.col("Data da Venda"))
)

# converte para tipo date
df_spark = df_spark.withColumn(
    "data_venda_normalizada",
    F.to_date("data_venda_normalizada", "yyyy-MM-dd")
)

# mostra o resultado final
df_spark.select("Data da Venda", "data_venda_normalizada").show(20, truncate=False)

+-------------+----------------------+
|Data da Venda|data_venda_normalizada|
+-------------+----------------------+
|25-04-2025   |2025-04-25            |
|24-07-2025   |2025-07-24            |
|2025-04-07   |2025-04-07            |
|2024-12-07   |2024-12-07            |
|19-01-2025   |2025-01-19            |
|2025-08-13   |2025-08-13            |
|10/04/2025   |2025-04-10            |
|20/06/2025   |2025-06-20            |
|26/04/2025   |2025-04-26            |
|14/03/2025   |2025-03-14            |
|04/05/2025   |2025-05-04            |
|2024-12-26   |2024-12-26            |
|2025-02-28   |2025-02-28            |
|21-08-2025   |2025-08-21            |
|25-08-2025   |2025-08-25            |
|09-01-2025   |2025-01-09            |
|20/10/2025   |2025-10-20            |
|15-12-2024   |2024-12-15            |
|06-07-2025   |2025-07-06            |
|2024-12-16   |2024-12-16            |
+-------------+----------------------+
only showing top 20 rows

### üõ†Ô∏èNormalizando dados da coluna Nome

In [55]:
def normalizar_nome(nome: str) -> str:
    if not nome:
        return None
    
    nome = nome.strip().lower()

    # Corrige casos comuns de nomes juntos
    nome = re.sub(r'(\d+)', r' \1', nome)  # separa n√∫meros (ex: iphone15pro ‚Üí iphone 15pro)
    nome = re.sub(r'([a-z])([A-Z])', r'\1 \2', nome)  # separa letras coladas
    
    # Aplica capitaliza√ß√£o inicial
    nome_formatado = " ".join(word.capitalize() for word in nome.split())

    # Mant√©m siglas espec√≠ficas em mai√∫sculo
    siglas = {"VI", "GT", "PRO", "ULTRA", "ROG"}
    palavras = []
    for word in nome_formatado.split():
        if word.upper() in siglas:
            palavras.append(word.upper())
        else:
            palavras.append(word)
    
    # Corrige "Iphone" para "iPhone"
    resultado = " ".join(palavras)
    resultado = re.sub(r'\bIphone\b', 'iPhone', resultado)

    return resultado.strip()

# Registrar como fun√ß√£o UDF no Spark
udf_normalizar_nome = F.udf(normalizar_nome, StringType())

# Aplicar a fun√ß√£o √† coluna "Nome"
df_spark = df_spark.withColumn("Nome_Normalizado", udf_normalizar_nome(F.col("Nome")))

# Exibir resultado
df_spark.select("Nome", "Nome_Normalizado").show(20, truncate=False)

+------------------------+-------------------------+
|Nome                    |Nome_Normalizado         |
+------------------------+-------------------------+
|sony xperia 1vi         |Sony Xperia 1vi          |
|IPHONE 15 PRO           |iPhone 15 PRO            |
|Huawei p60 pro          |Huawei P 60 PRO          |
|motorola EDGE 50        |Motorola Edge 50         |
|Sony Xperia 1 VI        |Sony Xperia 1 VI         |
|Sony Xperia 1 VI        |Sony Xperia 1 VI         |
|Oneplus 12              |Oneplus 12               |
|Google pixel 8 pro      |Google Pixel 8 PRO       |
|Samsung Galaxy S24 Ultra|Samsung Galaxy S 24 ULTRA|
|Huawei p60 pro          |Huawei P 60 PRO          |
|onePlus 12              |Oneplus 12               |
|iphone15pro             |iPhone 15pro             |
|Realme GT 6             |Realme GT 6              |
|google Pixel 8 Pro      |Google Pixel 8 PRO       |
|iPhone 15 Pro           |iPhone 15 PRO            |
|realme gt6              |Realme GT 6              |
|Samsung Galaxy S24 Ultra|Samsung Galaxy S 24 ULTRA|
|iphone15pro             |iPhone 15pro             |
|Google pixel 8 pro      |Google Pixel 8 PRO       |
|Sony Xperia 1 VI        |Sony Xperia 1 VI         |
+------------------------+-------------------------+
only showing top 20 rows

In [56]:
df_spark.show(10, truncate=False)

+------------------------+---------+------------------+-------------+-----------------+----------------------+-------------------------+
|Nome                    |Valor    |Quantidade Vendida|Data da Venda|valor_normalizado|data_venda_normalizada|Nome_Normalizado         |
+------------------------+---------+------------------+-------------+-----------------+----------------------+-------------------------+
|sony xperia 1vi         |7129.96  |17                |25-04-2025   |7129.96          |2025-04-25            |Sony Xperia 1vi          |
|IPHONE 15 PRO           |R$3691.36|30                |24-07-2025   |3691.36          |2025-07-24            |iPhone 15 PRO            |
|Huawei p60 pro          |8686.77  |36                |2025-04-07   |8686.77          |2025-04-07            |Huawei P 60 PRO          |
|motorola EDGE 50        |7357,13  |7                 |2024-12-07   |7357.13          |2024-12-07            |Motorola Edge 50         |
|Sony Xperia 1 VI        |4354.51  |12                |19-01-2025   |4354.51          |2025-01-19            |Sony Xperia 1 VI         |
|Sony Xperia 1 VI        |5395,19  |46                |2025-08-13   |5395.19          |2025-08-13            |Sony Xperia 1 VI         |
|Oneplus 12              |R$7256.5 |4                 |10/04/2025   |7256.5           |2025-04-10            |Oneplus 12               |
|Google pixel 8 pro      |5827.36  |41                |20/06/2025   |5827.36          |2025-06-20            |Google Pixel 8 PRO       |
|Samsung Galaxy S24 Ultra|2701,62  |10                |26/04/2025   |2701.62          |2025-04-26            |Samsung Galaxy S 24 ULTRA|
|Huawei p60 pro          |3331,54  |50                |14/03/2025   |3331.54          |2025-03-14            |Huawei P 60 PRO          |
+------------------------+---------+------------------+-------------+-----------------+----------------------+-------------------------+
only showing top 10 rows

### üßπTirando colunas Indesejadas

In [ ]:
def remover_colunas(df: DataFrame, colunas_para_remover: list) -> DataFrame:
    colunas_existentes = [col for col in colunas_para_remover if col in df.columns]

    if not colunas_existentes:
        print("‚ö†Ô∏è Nenhuma das colunas informadas existe no DataFrame.")
        return df

    print(f"üßπ Removendo colunas: {colunas_existentes}")
    return df.drop(*colunas_existentes)

# Lista de colunas para excluir
colunas_excluir = [
    "Nome", 
    "Valor", 
    "Data da Venda"
]

df_spark = remover_colunas(df_spark, colunas_excluir)

df_spark.show(10, truncate=False)

üßπ Removendo colunas: ['Nome', 'Valor', 'Data da Venda']
+------------------+-----------------+----------------------+-------------------------+
|Quantidade Vendida|valor_normalizado|data_venda_normalizada|Nome_Normalizado         |
+------------------+-----------------+----------------------+-------------------------+
|17                |7129.96          |2025-04-25            |Sony Xperia 1vi          |
|30                |3691.36          |2025-07-24            |iPhone 15 PRO            |
|36                |8686.77          |2025-04-07            |Huawei P 60 PRO          |
|7                 |7357.13          |2024-12-07            |Motorola Edge 50         |
|12                |4354.51          |2025-01-19            |Sony Xperia 1 VI         |
|46                |5395.19          |2025-08-13            |Sony Xperia 1 VI         |
|4                 |7256.5           |2025-04-10            |Oneplus 12               |
|41                |5827.36          |2025-06-20            |Google Pixel 8 PRO       |
|10                |2701.62          |2025-04-26            |Samsung Galaxy S 24 ULTRA|
|50                |3331.54          |2025-03-14            |Huawei P 60 PRO          |
+------------------+-----------------+----------------------+-------------------------+
only showing top 10 rows

### üîÑRenomeando nome das colunas

In [ ]:
def renomear_colunas(df: DataFrame, mapeamento: dict) -> DataFrame:
    df_renomeado = df
    colunas_existentes = df.columns

    for antiga, nova in mapeamento.items():
        if antiga in colunas_existentes:
            df_renomeado = df_renomeado.withColumnRenamed(antiga, nova)
            print(f"üîÅ Coluna renomeada: '{antiga}' ‚Üí '{nova}'")
        else:
            print(f"‚ö†Ô∏è Coluna '{antiga}' n√£o encontrada ‚Äî ignorada.")

    return df_renomeado

# Chamando fun√ß√£o para Renomear
mapeamento_colunas = {
    "Quantidade Vendida": "quantity_sold",
    "valor_normalizado": "price",
    "data_venda_normalizada": "sale_date",
    "Nome_Normalizado": "name"
}

df_spark = renomear_colunas(df_spark, mapeamento_colunas)

df_spark.show(10, truncate=False)

üîÅ Coluna renomeada: 'Quantidade Vendida' ‚Üí 'quantity_sold'
üîÅ Coluna renomeada: 'valor_normalizado' ‚Üí 'price'
üîÅ Coluna renomeada: 'data_venda_normalizada' ‚Üí 'sale_date'
üîÅ Coluna renomeada: 'Nome_Normalizado' ‚Üí 'name'
+-------------+-------+----------+-------------------------+
|quantity_sold|price  |sale_date |name                     |
+-------------+-------+----------+-------------------------+
|17           |7129.96|2025-04-25|Sony Xperia 1vi          |
|30           |3691.36|2025-07-24|iPhone 15 PRO            |
|36           |8686.77|2025-04-07|Huawei P 60 PRO          |
|7            |7357.13|2024-12-07|Motorola Edge 50         |
|12           |4354.51|2025-01-19|Sony Xperia 1 VI         |
|46           |5395.19|2025-08-13|Sony Xperia 1 VI         |
|4            |7256.5 |2025-04-10|Oneplus 12               |
|41           |5827.36|2025-06-20|Google Pixel 8 PRO       |
|10           |2701.62|2025-04-26|Samsung Galaxy S 24 ULTRA|
|50           |3331.54|2025-03-14|Huawei P 60 PRO          |
+-------------+-------+----------+-------------------------+
only showing top 10 rows

### üìåAplicando nova ordem das colunas

In [ ]:
def reordenar_colunas(df: DataFrame, nova_ordem: list) -> DataFrame:
    colunas_existentes = df.columns

    # Garante que s√≥ use colunas que realmente existem no df
    colunas_validas = [c for c in nova_ordem if c in colunas_existentes]

    # Adiciona ao final as colunas que n√£o estavam na lista (para n√£o perder nenhuma)
    colunas_restantes = [c for c in colunas_existentes if c not in colunas_validas]

    ordem_final = colunas_validas + colunas_restantes

    print("üìã Nova ordem de colunas:")
    print(ordem_final)

    return df.select(ordem_final)

nova_ordem = [
    "name",
    "price",
    "quantity_sold",
    "sale_date",
]

df_spark = reordenar_colunas(df_spark, nova_ordem)

df_spark.show(10, truncate=False)

üìã Nova ordem de colunas:
['name', 'price', 'quantity_sold', 'sale_date']
+-------------------------+-------+-------------+----------+
|name                     |price  |quantity_sold|sale_date |
+-------------------------+-------+-------------+----------+
|Sony Xperia 1vi          |7129.96|17           |2025-04-25|
|iPhone 15 PRO            |3691.36|30           |2025-07-24|
|Huawei P 60 PRO          |8686.77|36           |2025-04-07|
|Motorola Edge 50         |7357.13|7            |2024-12-07|
|Sony Xperia 1 VI         |4354.51|12           |2025-01-19|
|Sony Xperia 1 VI         |5395.19|46           |2025-08-13|
|Oneplus 12               |7256.5 |4            |2025-04-10|
|Google Pixel 8 PRO       |5827.36|41           |2025-06-20|
|Samsung Galaxy S 24 ULTRA|2701.62|10           |2025-04-26|
|Huawei P 60 PRO          |3331.54|50           |2025-03-14|
+-------------------------+-------+-------------+----------+
only showing top 10 rows

### üíæSalvando DF na camada [ PRATA ] --> Silver

In [60]:
# Para n√£o sobrecarregar o SPARK
df_sample = df_spark.limit(1000).toPandas()

e:\KEVIN\Estudos T.I\Engenheiro de Dados\.venv_dados\Lib\site-packages\pyspark\sql\pandas\conversion.py:95: UserWarning: toPandas attempted Arrow optimization because 'spark.sql.execution.arrow.pyspark.enabled' is set to true; however, failed by the reason below:
  [PACKAGE_NOT_INSTALLED] PyArrow >= 11.0.0 must be installed; however, it was not found.
Attempting non-optimization as 'spark.sql.execution.arrow.pyspark.fallback.enabled' is set to true.
  warn(msg)

In [ ]:
df_pandas = df_sample

# cria a engine de conex√£o com o PostgreSQL
engine = create_engine(
    'postgresql+psycopg2://kevinsoffa:'+senha_banco_de_dados+'@localhost:5432/sales_smart_phones_silver'
)

# salva o DataFrame no PostgreSQL
df_pandas.to_sql(
    'sales_smart_phones_silver',  # nome da tabela
    engine,
    if_exists='replace',           # substitui se j√° existir
    index=False                     # n√£o salva o √≠ndice
)

100